# Example Environment Variables
# Development
VITE_API_BASE_URL=http://localhost:5000
VITE_APP_ENV=development

# Production
# VITE_API_BASE_URL=https://sodeclick-back-production.up.railway.app
# VITE_APP_ENV=production
