# Example Environment Variables
PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://shayetet14:sdg5NrhmPFak8T3y@cluster0.2g7xxjp.mongodb.net/sodeclick?retryWrites=true&w=majority&appName=Cluster0

# CORS Settings
FRONTEND_URL=http://localhost:5173

# JWT Secret
JWT_SECRET=your-jwt-secret-key
